article {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    background-color: #efefef;
}

article header img {
    width: 100%;
}

@media (min-width: 900px) {
   article {
        width: 50%;
       
   } 
}

article section {
    font-size: 1.5em;    
    margin-top: 1em;
    margin-bottom: 1em;
}

article footer {
    font-size: 3em;
    text-align: center;
}

article footer time {
    font-size: 0.5em;    
    padding-bottom: 2em;
    font-style: italic;
}

.hot {
    color: #cc0000;    
}

.cool {
    color: #0000cc;    
}

.stale {
    color: #8b4513;    
}

nav {
    color: #2d2d2d;
    background-image: url(https://chinafilmbiz.files.wordpress.com/2012/11/miser.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

nav a {
    color: #00cc00;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media (min-width: 900px) {
    nav {
        font-size: 2em;
        text-align: center;
    }
}


button,
button[type="submit"] {
    padding: 0.5em;
    color: #FFF;
    background: #1abc9c;
    font-size: 1em;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    border-radius: 5px;
}

section {
    color: #4f4f4f;
    font-size: 1.5em;
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 1em;
}

@media (min-width: 900px) {
    section {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
}



input {
  font-size: 1.1em;
}

input,
form-group {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

form {
  margin-left: 1em;
  margin-right: 1em;
}


section h1 {
    text-align: center;
    margin-bottom: 0;
}

main {
  width: 100%;
}