<section>
  <% if logged_in? %>
    <a href="/new"><button>Post New Deal</button></a>
  <% else %>
    <a href="/login"><button>Login</button></a>
  <% end %>
  
</section>

<% @posts.each do |post| %>
  <%= erb(:_post, { locals: {post: post} } ) %>
<% end %>