<% @posts.each do |post| %>
  <article>
      <header>
          <img src="<%= post[:image] %>">
      </header>
      <section>
          <%= post[:description] %>
      </section>
      <footer>
         <div class="hot"><%= post.get_freshness %></div>
         <time><%= post[:created_at] %></time> 
      </footer>
  </article>
<% end %>