<!doctype html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <nav>
            <% if logged_in? %>
              <div id="logout">
                <a href="/logout">Logout</a>
              </div>
            <% end %>
            <a href="/">
                <h1>Bogus Deal Breaker</h1>
            </a>
            <h3>Spot the <em>real</em> deals!</h3>
        </nav>
        <main>
          <%= yield %>
        </main>
    </body> 
</html>
